<p>
  list works!
</p>
<table class="table table-striped">
  <thead>
  <th scope="col">Id</th>
  <th scope="col">Name</th>
  <th scope="col">Age</th>
  <th scope="col">Description</th>
  <th scope="col">Adopted</th>
  <th scope="col">Foto</th>
  </thead>
  <tbody>
<!--  iterate for values from API-->
  <tr *ngFor="let animal of animals;">
    <th scope="row">{{ animal.Id }}</th>
    <th scope="row">{{ animal.Name }}</th>
    <th scope="row">{{ animal.Age }}</th>
    <th scope="row">{{ animal.ShortDescription }}</th>
    <th scope="row">{{ animal.IsAdopted }}</th>
    <td>
      <img [src]="animal.PhotoUrl" class="mr-2" style="width: 40px">
    </td>
  </tr>
  </tbody>
</table>
